@page "/"
@attribute [RenderStatic]
@inject MarkdownPages Markdown
@{
    ViewData["Title"] = "Home page";
}

@{
    Func<dynamic?, object> header =
        @<div class="container mx-auto px-5">
            <section class="flex-col md:flex-row flex justify-center mt-16 mb-16 md:mb-12">
                <h3 class="mx-auto max-w-2xl font-display text-3xl font-medium tracking-tight text-slate-900 sm:text-5xl">
                    CareCloud API Documentation
                </h3>
            </section>
        </div>;
}

@await Html.PartialAsync("DocsPage", new Shared.DocsPage
{
   Brand = "Documentation",
   Folder = "",
   Slug = "index",
   Header = header,
   HideTitle = true,
   HideDocumentMap = true,
   DefaultMenu = new MarkdownMenu
   {
       Icon = Markdown.DefaultMenuIcon,
       Text = "Home",
       Link = "/",
   },
}.Init(this, Markdown))

<script type="module">
import { mount } from "app.mjs"
import GettingStarted from "./mjs/components/GettingStarted.mjs" 

mount('#getting-started', GettingStarted, { template:'razor-press' })
</script>