@page "/ccn/"
@attribute [RenderStatic]
@{
    ViewData["Title"] = "CareConnect";
    ViewData["Brand"] = "MCT CareCloud";
}

<link rel="stylesheet" href="/css/typography.css">
@* @await Html.PartialAsync("VideoIncludes") *@
@* @await Html.PartialAsync("HighlightIncludes") *@

<h1>My Care Connect 5.0</h1>
@* <script type="module"> *@
@* import { setMetadata } from "/pages/portal/data.mjs" *@
@* setMetadata() *@
@* </script> *@